.img-saasconsole {
  border-radius: 10px;
}
.carousel {
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* Define a fade animation */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carousel-item {
  animation: fade 1s ease; /* Apply the fade animation to the carousel items */
}

.carousel-control {
  opacity: 1; /* Set the default opacity */
  transition: opacity 0.3s ease;
}

.carousel:hover .carousel-control {
  opacity: 0; /* Hide controls when carousel is hovered */
}

.projects-content {
  gap: 4rem;
}

.projects-content p {
  word-wrap: break-word;
}

.visit-website-block .btn-visit-website {
  color: white;
  padding: 0.75rem;
  border-radius: 5px;
  background-color: rgb(163, 133, 100);
  border: none;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.visit-website-block .btn-visit-website:active,
.visit-website-block .btn-visit-website:visited,
.visit-website-block .btn-visit-website:active:first-child {
  background-color: rgb(163, 133, 100);
  border: none;
  transition: background-color 0.3s ease;
}

.visit-website-block .btn-visit-website:hover {
  background-color: rgb(80, 66, 50);
}
