.contact-section {
  background-color: rgb(250, 247, 243);
}

.contact-section .socials {
  gap: 10px;
}
.contact-section .socials .social-icons:hover {
  color: black;
}

.footer-link {
  margin-bottom: 15px;
}
